<header class="header">
  <div class="logo">
    <img src="/assets/images/GoSportLogo.svg" alt="Go Sport Logo" />
  </div>
  <nav class="nav-main">
    <ul>
      <li><a href="#sobre-nosotros">Sobre Nosotros</a></li>
      <li><a href="#agendamiento">Agendamiento</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>
  <div class="auth-buttons">
    <button class="btn-login" (click)="navToLogin()">Iniciar Sesión</button>
    <button class="btn-register" (click)="navToRegister()">Registrarse</button>
  </div>
</header>
