<div class="login-page">
  <app-nav-bar></app-nav-bar>
  <form
    class="login-form-container"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <app-custom-input
      label="Email"
      errorMessage="Formato de correo incorrecto"
      [control]="loginForm.get('email')"
      type="email"
      placeHolder="Enter your email"
    />
    <app-custom-input
      label="Password"
      errorMessage="Formato de contraseña incorrecto"
      [control]="loginForm.get('password')"
      type="password"
      placeHolder="Enter your password"
    />
    <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    <p>Aun no registrado? <a href="/register">Registrate</a></p>
  </form>
  <app-footer></app-footer>
</div>
