// Colores
$color-white: #ffffff;
$color-black: #000000;

$color-primary: #0085ff;
$color-secondary: #ffc100;
$color-tertiary: #00c49a;

$color-bg: $color-white;
$color-text: $color-black;

// Tipografía
$font-base: "Inter", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

// Espaciado
$spacing-unit: 1rem;
