.sport-full-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;

  .remove-booking-button {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color-mix(in srgb, var(--secondary-color) 80%, black);
    }
  }
}
