@use "../abstracts/variables";
.container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 variables.$spacing-unit;
}

.grid {
  display: grid;
  gap: variables.$spacing-unit;
}
