<div class="uptate-user-card">
  <form
    class="form-container"
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <h2>Cambiar contraseña</h2>
    <app-custom-input
      label="Old Password"
      errorMessage="Formato de oldPassword incorrecto"
      [control]="changePasswordForm.get('oldPassword')"
      type="password"
      placeHolder="Ingresa tu contraseña antigua"
    />
    <app-custom-input
      label="New Password"
      errorMessage="Formato de newPassword incorrecto"
      [control]="changePasswordForm.get('newPassword')"
      type="password"
      placeHolder="Ingresa tu contraseña nueva"
    />
    <app-custom-input
      label="Confirm New Password"
      errorMessage="Formato de confirmNewPassword incorrecto"
      [control]="changePasswordForm.get('confirmNewPassword')"
      type="password"
      placeHolder="Ingresa la confirmación de tu nueva contraseña"
    />
    <button type="submit" [disabled]="changePasswordForm.invalid">
      Actualizar
    </button>
  </form>
</div>
